################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bookstore application/.vs/bookstore application/v16
/bookstore application/obj
